body{
    font-family: 'sans-serif';
    background-size: cover;
    background-color: powderblue;
    height: 100vh;
    padding:0;
    margin:0;
}

.username{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.email{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.submit-button {
    background-color: royalblue;
    border: 0px;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:3px;
}

.submit-button:hover{
    background-color: darkblue;
    color:powderblue;
}
.submit-button:active{

color: white;

}

#username-title{
    color:black;
}

#email-title{
    color:black;
}

.form-text{
    color:black;
}

.password-title{
    color:black;
}

.card{ 
   position:fixed;
   top:10%;
   left:42%;
   width:250px; 
}

.sign-up-button{
    background-color: #7c7c7c;
    border: 0px;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:3px;
}

.sign-up-button:hover{
    background-color: #666666;
}

@media screen and (max-width: 940px){
    .card{ 
        position:absolute;
        margin:auto;
        position: initial;
        margin-top: 25%;
        left: initial;
        width:  250px;
     }
}