body {
  background-color: lightblue;
  text-align: center

  }
h1 {
  text-align: center;
vertical-align: middle;
line-height: 250px; 
font-size: 200%;
font-weight: bold;
}
p {
  text-align: center;
vertical-align: middle;
line-height: 10px; 
font-size: 150%;
font-weight: bold;
display: inline-block;
width: 200px;
border: 10px solid darkblue;
padding: 30px;
margin: 10px;
}
p:hover {
  color: cyan;
}
p:active {
  color: red;
}

button {
  background-color: navy;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  line-height: 50px; 
  font-size: 150%;
  margin: 0 auto;
  display: block;
}
.button:hover {
  background-color: blue;
  color: white;
}
