
body{
  font-family: 'sans-serif';
  background-color: powderblue; 
  color:white;
 
}

.clasament{
  /* border: 2px solid black; */
  border-radius: 5px;
  
  position: relative;
  top: 25px;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 7%;
}

.clasament-item{
  background-color: black;
  border-collapse: collapse;
  width: 100%;
}

.clasament-item th, .clasament-item td{
  text-align: left;
  padding: 10px;
}

.clasament-item tr{
  border: 1px solid black;
}

.clasament-item tr:nth-child(even){
  background-color: #333;
}

.clasament-item td a{
  text-decoration: none;
  color: black;
}

.clasament-item td a:hover{
  color: #bf8040;
}

.clasament-item td a:active{
  color: black;
}

@media screen and (max-width: 940px){
  .clasament{
  overflow-x:auto;
  }
}



