body{
    display: inline-block;
    max-width: 100%;
    font-size: 150%;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
  }

  .butoaneJos{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 100px;
  }
  
  .butoaneJos button{
    background-color: #333;
    height: 50px;
    color: white;
  }
  
#intrebare{
    max-width: 50%;
    line-height: 40px;
    font-size: 100%;
    display: inline;
}

.butonVarianta{
  width: 40px;
}

  @media screen and (max-width: 600px) {
    img{
        width:200px;
        height:200px;
    }
  }
  
  
   